@import url("arrowanimation.css");
/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
el, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

#nav
{
  text-align: right;
  position: fixed;
  right: 30px;
  top: 40%;
  z-index: 10000;
  cursor: default;
  height: 50px;
}

#nav ul
{
  margin-bottom: 0;
}

#nav li
{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  margin-bottom: 4px;
  cursor: pointer;
  cursor: hand;
}

#nav a
{
  position: relative;
  display: block;
  /*color: #666;*/
  text-decoration: none;
  outline: 0;
}
    
#nav a:hover
{
  color: #ff9912 !important;
}

#nav a.active:before
{
  content: '';
  display: block;
  position: absolute;
  bottom: -0.6em;
  left: 50%;
  margin-left: -0.75em;
  border-left: solid 0.75em transparent;
  border-right: solid 0.75em transparent;
  border-top: solid 0.6em #282828;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end of reset */
/* CSS for the header */
html {
   background: url(images/KansasCity1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background:url('images/KansasCity1.jpg') repeat fixed;*/
}

.header-wrap a, .aboutSection a, .experience a, .contact a {
  color:#FF9912;
  text-decoration:none;
}

header {
  background-image: url("images/bg.jpg"); 
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
  margin:0px auto;
}

header .quote {
  font-family: 'Lobster', cursive;
  color: #FFFFFF;
  font-style: italic;
  display:block;
  margin: 0px auto;
  text-align: center;
  line-height:23px;
  letter-spacing:2px;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  width: 350px; 
}

/*header .linetop {
  display: block;
  border-top: 1px solid #FFFFFF;
  margin: 0px auto;
  overflow: hidden;
  width: 325px;
  height: 4px; 
}

header .linebottom {
  display: block;
  border-bottom: 1px solid #FFFFFF;
  margin: 0px auto;
  overflow: hidden;
  width: 325px;
  height: 4px; 
}

header .linetop:first-child {
    padding-top: 30px;
}*/

.myname {
  font-size: 45px;
  text-align:center;
  padding-top:175px;
  font-family: 'Droid Serif', serif;
  color: #FF9912;
  text-shadow: #18181a;
}

.whatiam {
  font-size: 28px;
  text-align:center;
  font-family: 'Open Sans Light',Calibri,Arial,sans-serif;
  width: 100%;
  color: #FFFFFF;
  margin-bottom: 0.8em;
  margin-top: 0.4em;
}

header .socialnav {
  display:block;  
  text-align:center;
}

/*section div.heading .linetop {
    margin-top: 90px;
}

section div.heading .linetop, section div.heading .linebottom {
  display:block;
  width:20%;
  border-top:1px solid #FFFFFF;
}*/

.aboutme-headingwrapper, .experience-headingwrapper, .contact-headingwrapper {
  position: relative;
  top: 100px;
}        
.aboutme-headingwrapper .linetop, .experience .linetop, .contact .linetop {
  margin:15px auto 0px auto;
  }
.aboutme-headingwrapper .linebottom, .experience .linebottom,.contact .linebottom {
  margin:0px auto;
  }
.heading h1 {
  text-align:center;
  text-transform:uppercase;
  font-family: 'Droid Serif', serif;
  font-size:200%;
  letter-spacing:2px;
  font-weight:bold;
  width:21%;
  border-bottom:1px solid #ffffff;
  border-top:1px solid #ffffff;
  margin:3px auto;
  padding:5px;
  color:#ff9912;
  } 
.about-description, .experience-description, .contact-description {
  padding-right:10px;
  width:525px;
  margin: 0px auto 0 auto;
  text-align:center;
   } 
.about-description p, .experience-description p, .contact-description p {
  font-family: 'Droid Serif', serif;
  text-indent:30px;
  font-style:italic;
  color: #ffffff; 
  clear:both;
  margin-top:15px;
  line-height:22px;
  }
.about-description, .contact-description {
  position: relative;
  top: 120px
}

.experience-description {
  position: relative;
  top: 100px
}

/* Css for "Experience" section  */
.experience-description {
  width:770px;
  margin: 15px auto 0 auto;
  overflow:auto;
  padding:5px;
  }

#expDown {
  position: relative;
  top: 130px;
}

#aboutDown {
  position: relative;
  top: -15px;
}

#homeDown {
  position: relative;
  top: 220px;
}

section.experience div.heading .linetop {
    margin-top: 90px;
}

.languages {
  margin-top: 190px;
  clear:both;
  }
.languages h2 {
  width:400px;
  text-align:center;
  font-family: 'Droid Serif', serif;
  font-weight: bold;
  padding-bottom:10px;
  text-transform:uppercase;
  border-bottom:1px solid #ffffff;
  color:#ffffff;
  margin:15px auto 10px auto;
  }
.langicons {
  width:1000px;
  margin:0 auto;
  text-align:center;
  }

/*.langicons span {
  display:inline-block;
  margin-top:2%;
  margin-left:10px;
  border-radius: 50%;
  border: 1px solid gray;
  overflow:hidden;
  height:128px;
  width:128px;
  z-index:10;
  background-color: rgba(255,255,255,0.1);
  }*/
/*
.langicons span .text {
  visibility: hidden;
}*/

/*
.langicons span:hover {
  background-color: rgba(255,153,18,0.4);
}  */

.langicons p {
  color: #FF9912;
  font-size: 150%;
}

#col1, #col2, #col3{
  display:inline-block;
  margin-top:2%;
  margin-left:10px;
  height:128px;
  width:128px;
}


/*.languages img {
  padding-top:30px;
  }*/
/* Css for "Contacts" page */
/*.contact-description {
  width:550px;
  margin:4% auto 0 auto;
  }
.contactlinkswrapper {
  border-top:1px solid gray;
  width:640px;
  height:100px;
  margin:10px auto 0 auto;
  } 
.contactlinks div {
  display:inline-block;
  height:70px;
  width:300px;
  margin-top: 2%;
  overflow:auto;
  text-align:center;
  } 
/*.contactlinks .resume {
  border-right:1px solid gray;
  width: 310px;
  }
.contactlinks .sayhi {
  border-left: 1px solid gray;
}*/
.contactlinks .sayhi:first-child{
  text-align:center;
}
.contactlinks p:not(a) {
  margin:2px auto;
  font-size:0.8em;
  color:#ffffff;
  }
.contactlinks p.bottomhalf {
  font-family: 'Droid Serif', serif;
  font-size:1.2em;
  margin-top:105px;
  } 

.contactlinkswrapper {
  position: relative;
  top: 50px;
} 

.sociallinks p:last-child {
  margin-top:7px;
  }  
.back-to-top {
  width:130px;
  text-align:center; 
  margin: 200px auto 0px auto;
  color:#FF9912;
}

section {
  height: 100%;
}

.header-wrap, .contact{
  background-color: rgba(0, 0, 20, .6)
}

.aboutSection {
  background-color: #000011;
}

.experience {
  background-color: #111122;
}


